.dishes {
    text-align: center;

    .dish {
        display: inline-block;
        width: 500px;
        margin: 50px;
        background-color: white;
        padding: 8px;

        .dish_display {
            height: 300px;
            position: relative;

            .dish_price {
                position: absolute;
                right: 0;
                bottom: 0;
                color: white;
                background-color: red;
                margin: 0;
                padding: 10px;
            }
        }

        .dish_description {
            text-align: left;
            font-size: 18px;
        } 
    }
}