<form>
    <label for="search_cuisine">Search Cuisine</label>
    <input type="text" name="search_cuisine" placeholder="Mexican, Filipino etc..." 
     [(ngModel)]="input_cuisine" (keyup.enter)="query()"/>
</form>

<div class="dishes">
    <div *ngFor="let dish of dishes" class="dish">
        <div class="dish_display" style="background-image: url(' {{ dish.image }} ');">
            <h3 class="dish_price"> {{ dish.price | currency }} </h3>
        </div> 
        <h1 class="dish_name"> {{ dish.name }} </h1>
        <div class="dish_description"> {{ dish.description }} </div>
    </div>
</div>